<section class="api-selection">
   <div class="api-selection__container">
      <h3 class="api-selection__title">API Docs</h3>
      <div class="api-selection__items">
        <a href="{{ site.baseurl }}/apidocs/html5" class="track-doc-api-html5">
          {% include api_tile.html title="HTML 5" text="Learn about our HTML 5 photo editors API" link_title="Show Docs" class="api-selection__item__icon--html5"%}
        </a>
        <a href="{{ site.baseurl }}/apidocs/ios" class="track-doc-api-ios">
          {% include api_tile.html title="iOS" text="Explore the PhotoEditor SDK's API on iOS" link_title="Show Docs" class="api-selection__item__icon--ios"%}
        </a>
        <a href="{{ site.baseurl }}/apidocs/android" class="track-doc-api-html5">
          {% include api_tile.html title="Android" text="Get comfortable with our photo editors Android API" link_title="Show Docs" class="api-selection__item__icon--android" %}
        </a>
      </div>
   </div>
</section>
