<section class="api-selection">
   <div class="api-selection__container">
      <h3 class="api-selection__title">Api</h3>
      <div class="api-selection__items">
        <a href="{{ site.baseurl }}/apidocs/html5">
          {% include api_tile.html title="HTML 5" text="Learn how to set up your own photo editor within minutes" link_title="Show Features" class="api-selection__item__icon--html5"%}
        </a>
        <a href="{{ site.baseurl }}/apidocs/ios">
          {% include api_tile.html title="iOS" text="Learn how to set up your own photo editor within minutes" link_title="Show Features" class="api-selection__item__icon--ios"%}
        </a>
        <a href="{{ site.baseurl }}/apidocs/android">
          {% include api_tile.html title="Android" text="Learn how to set up your own photo editor within minutes" link_title="Show Features" class="api-selection__item__icon--android"%}
        </a>
      </div>
   </div>
</section>
