<section class="api-selection">
   <div class="api-selection__container">
      <h3 class="api-selection__title">API Docs</h3>
      <div class="api-selection__items">
        <a href="{{ site.baseurl }}/apidocs/html5" class="track-doc-api-html5">
          {% include api_tile.html title="HTML 5" text="Explore PhotoEditor SDK's API for HTML5" link_title="Show Docs" class="api-selection__item__icon--html5"%}
        </a>
        <a href="{{ site.baseurl }}/apidocs/ios" class="track-doc-api-ios">
          {% include api_tile.html title="iOS" text="Explore PhotoEditor SDK's API for iOS" link_title="Show Docs" class="api-selection__item__icon--ios"%}
        </a>
        <a href="{{ site.baseurl }}/apidocs/android" class="track-doc-api-android">
          {% include api_tile.html title="Android" text="Explore PhotoEditor SDK's API for Android" link_title="Show Docs" class="api-selection__item__icon--android" %}
        </a>
        <a href="{{ site.baseurl }}/apidocs/server" class="track-doc-api-server">
          {% include api_tile.html title="Server" text="Explore PhotoEditor SDK's API for Server" link_title="Show Docs" class="api-selection__item__icon--server" %}
        </a>
      </div>
   </div>
</section>
