<section class="customers">
   <div class="container">
      <h3>Proudly empowering startups and Fortune 500 companies around the globe.</h3>
      <div class="customers__seperator"></div>
      <ul class="customers__list">
         <li class="customers__list__item customers__list__item--hp">
            <a href="http://www.hp.com/" rel="nofollow" target="_blank"></a>
         </li>
         <li class="customers__list__item customers__list__item--shutterstock">
            <a href="http://www.shutterstock.com/" rel="nofollow" target="_blank"></a>
         </li>
         <li class="customers__list__item customers__list__item--newscred">
            <a href="http://www.newscred.com/" rel="nofollow" target="_blank"></a>
         </li>
         <li class="customers__list__item customers__list__item--reuters">
            <a href="http://www.thomsonreuters.com/" rel="nofollow" target="_blank"></a>
         </li>
         <li class="customers__list__item customers__list__item--vapiano">
            <a href="http://www.vapiano.de/" rel="nofollow" target="_blank"></a>
         </li>
      </ul>
      <div class="customers__seperator"></div>
   </div>
</section>
