<footer class='footer'>
  <div class='container'>
    <div class='footer__container'>
      <ul class='footer__groups'>
        <li class='footer__groups__item'>
          <ul class='footer__list'>
            <li class='footer__list__headline'>Developers</li>
            <li class='footer__list__item'>
            </li>
            <li class='footer__list__item'>
            </li>
            <li class='footer__list__item'>
            </li>
          </ul>
        </li>
        <li class='footer__groups__item'>
          <ul class='footer__list'>
            <li class='footer__list__headline'>Legal</li>
            <li class='footer__list__item'>
            </li>
            <li class='footer__list__item'>
            </li>
            <li class='footer__list__item'>
            </li>
          </ul>
        </li>
        <li class='footer__groups__item'>
          <ul class='footer__list'>
            <li class='footer__list__headline'>Company</li>
            <!-- %li -->
            <!-- %a{ href: "http://www.9elements.com", target: "_blank" } Team -->
            <li class='footer__list__item'>
            </li>
            <li class='footer__list__item'>
            </li>
            <!-- %li -->
            <!-- %a{ href: "http://www.9elements.com", target: "_blank" } Jobs -->
          </ul>
        </li>
        <li class='footer__groups__item'>
          <ul class='footer__list'>
            <li class='footer__list__headline'>Company</li>
            <li class='footer__list__item'>
            </li>
            <li class='footer__list__item'>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class='footer__copyright'>© 2014 - 2017 - crafted with ♡ in Bochum</div>
  </div>
</footer>
