<footer class='footer'>
  {% include get_started.html %}
  <div class='container'>
    <img class='footer__logo' src="{{site.baseurl}}/assets/images/shared/pesdk_footer_logo.svg")></img>
    <div class='footer__container'>
      <ul class='footer__groups'>
        <li class='footer__groups__item'>
          <ul class='footer__list'>
            <li class='footer__list__headline'>Developers</li>
            <li class='footer__list__item'>
              <a href="https://docs.photoeditorsdk.com">
                Documentation
              </a>
            </li>
            <li class='footer__list__item'>
              <a href="https://github.com/imgly"> 
                GitHub Repos
              </a>
            </li>
            <li class='footer__list__item'>
              <a href="https://www.photoeditorsdk.com/faq">
                FAQs
              </a>
            </li>
          </ul>
        </li>
        <li class='footer__groups__item'>
          <ul class='footer__list'>
            <li class='footer__list__headline'>Legal</li>
            <li class='footer__list__item'>
              <a href="https://www.photoeditorsdk.com/tos">
              ToS 
              </a>
            </li>
            <li class='footer__list__item'>
              <a href="https://www.photoeditorsdk.com/privacy_policy">
                Privacy Policy 
              </a>
            </li>
            <li class='footer__list__item'>
              <a href="https://www.photoeditorsdk.com/imprint">
                Imprint 
              </a>
            </li>
          </ul>
        </li>
        <li class='footer__groups__item'>
          <ul class='footer__list'>
            <li class='footer__list__headline'>Company</li>
            <!-- %li -->
            <!-- %a{ href: "http://www.9elements.com", target: "_blank" } Team -->
            <li class='footer__list__item'>
              <a href="https://blog.photoeditorsdk.com">
                Blog 
              </a>
            </li>
            <li class='footer__list__item'>
              <a href="https://www.photoeditorsdk.com/imgly-aviary-comparison">
                img.ly Aviary Comparison 
              </a>
            </li>
            <li class='footer__list__item'>
              <a href="https://imgly.heavenhr.com/jobs">
                Jobs
              </a>
            </li>
          </ul>
        </li>
        <li class='footer__groups__item'>
          <ul class='footer__list'>
            <li class='footer__list__headline'>Links</li>
            <li class='footer__list__item'>
              <a href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Improve this doc</a>    
            </li>
            <li class='footer__list__item'>
              <a href="https://account.photoeditorsdk.com/pricing">
                Contact
              </a>
            </li>
            <li class='footer__list__item'>
              <a href="https://account.photoeditorsdk.com/login">
                Login
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class='footer__copyright'>© 2014 - 2020 - crafted with ♡ in Bochum</div>
  </div>
</footer>