<section class="get-started">
   <div class="get-started__container">
      <div class="get-started__text">
         <h2>Ready to get started?</h2>
         <h3>Start your free trial, or get in touch.</h3>
      </div>
      <div class="get-started__buttons">
         <a class="button button--blue track-trial-banner" href="https://www.photoeditorsdk.com/users/new">Start Trial</a>
         <a class="button track-contactsales-banner" href="https://www.photoeditorsdk.com/pricing#contact">Contact Sales</a>
      </div>
   </div>
</section>
