<section class="guide-selection">
   <div class="guide-selection__container">
      <h3 class="guide-selection__title">Guides</h3>
      <div class="guide-selection__items">
        <a href="{{ site.baseurl }}/guides/html5">
          {% include guide_tile.html title="HTML 5" text="Learn how to use the PhotoEditor SDK on your website" link_title="Show Guide" class="guide-selection__item__icon--html5"%}
        </a>
        <a href="{{ site.baseurl }}/guides/ios">
          {% include guide_tile.html title="iOS" text="Add our powerful native PhotoEditor SDK to your iOS app" link_title="Show Guide" class="guide-selection__item__icon--ios"%}
        </a>
        <a href="{{ site.baseurl }}/guides/android">
          {% include guide_tile.html title="Android" text="Learn how to add the PhotoEditor SDK to your Android app" link_title="Show Guide" class="guide-selection__item__icon--android"%}
        </a>
      </div>
   </div>
</section>
