<section class="guide-selection">
   <div class="guide-selection__container">
      <h3 class="guide-selection__title">Guides</h3>
      <div class="guide-selection__items">
        <a href="{{ site.baseurl }}/guides/html5">
          {% include guide_tile.html title="HTML 5" text="Learn how to set up your own photo editor for HTML 5 within minutes" link_title="Show HTML 5 Guide" class="guide-selection__item__icon--html5"%}
        </a>
        <a href="{{ site.baseurl }}/guides/ios">
          {% include guide_tile.html title="iOS" text="Learn how to set up your own photo editor for iOS within minutes" link_title="Show iOS Guide" class="guide-selection__item__icon--ios"%}
        </a>
        <a href="{{ site.baseurl }}/guides/android">
          {% include guide_tile.html title="Android" text="Learn how to set up your own photo editor for Android within minutes" link_title="Show Android Guide" class="guide-selection__item__icon--android"%}
        </a>
      </div>
   </div>
</section>
