{% capture title %}
  {{site.prefix}} 
  {% if page.categories %}
    {{page.categories.first | capitalize}} 
  {% endif %}
  {% if page.platform %}
    {{page.platform | upcase }} 
  {% endif %}
  {% if page.version %}
    {{page.version}} 
  {% endif %}
   | 
  {{page.title}}
{% endcapture %}

<title>{{title}}</title>


<meta name="twitter:site_name" content="{{ site.name }}" />
<meta name="twitter:site" content="@PhotoEditorSDK" />
<meta name="twitter:card" content="summary_large_image" />

<meta name="image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" />

<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />


<meta property="og:type" content="website" />
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" />
<meta property="og:url" content="{% if page.url %}{{ page.url }}{% else %}{{ site.url }}{% endif %}" />
<meta property="og:site_name" content="{% if page.site_name %}{{ page.site_name }}{% else %}{{ site.site_name }}{% endif %}" />
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

