<nav class="navigation">
  <div class="navigation__burger"></div>
  <div class="navigation__container">
    <div class="navigation__innerContainer">
      <div class="navigation__close"></div>
      <ul class="navigation--center">
        <li class="navigation__item">
          <a href="{{ site.baseurl }}/guides">
            Guides
          </a>
        </li>
        <li class="navigation__item">
          <a href="{{ site.baseurl }}/features">
            Features
          </a>
        </li>
        <li class="navigation__item">
          <a href="{{ site.baseurl }}/quickstarts">
            Quickstarts
          </a>
        </li>
      </ul>
      <ul class="navigation--right">
        <li class="navigation__item">
          <a href="https://www.photoeditorsdk.com/dashboard">
            Dashboard
          </a>
        </li>
        <!--<il class="navigation--item">
          <a class="button button--blue" href="https://www.photoeditorsdk.com" a>
            Contact Sales
          </a>
        </il>-->
      </ul>
    </div>
  </div>
</nav>