<nav class="navigation">
  <div class="navigation__burger js-toggle-navigation"></div>
  <div class="navigation__container js-navigation">
    <div class="navigation__innerContainer">
      <div class="navigation__close js-toggle-navigation"></div>
      <ul class="navigation--center">
        <li class="navigation__item">
          <a href="{{ site.baseurl }}/guides" class="track-nav-guides">
            Guides
          </a>
        </li>
        <li class="navigation__item">
          <a href="{{ site.baseurl }}/apidocs" class="track-nav-apidocs" >
            Api Docs
          </a>
        </li>
        <!--<li class="navigation__item">
          <a href="{{ site.baseurl }}/features" class="track-nav-features">
            Features
          </a>
        </li>-->
        <li class="navigation__item">
          <a href="{{ site.baseurl }}/quickstarts" class="track-nav-quickstarts">
            Quickstarts
          </a>
        </li>
      </ul>
      <ul class="navigation--right">
        <li class="navigation__item">
          <a href="https://www.photoeditorsdk.com/dashboard" class="track-nav-dashboard">
            Login
          </a>
        </li>
        <!--<il class="navigation--item">
          <a class="button button--blue" href="https://www.photoeditorsdk.com" a>
            Contact Sales
          </a>
        </il>-->
      </ul>
    </div>
  </div>
</nav>