 <!-- React Dependencies for the SDK UI -->
 <script src="{{ site.baseurl}}/assets/photoeditorsdk/js/vendor/react.production.min.js"></script>
 <script src="{{ site.baseurl}}/assets/photoeditorsdk/js/vendor/react-dom.production.min.js"></script>
 <script src="{{ site.baseurl}}/assets/photoeditorsdk/js/vendor/prop-types.min.js"></script>
 <!-- PhotoEditor SDK-->
 <script src="{{ site.baseurl}}/assets/photoeditorsdk/js/PhotoEditorSDK.min.js"></script>
 <!-- PhotoEditor SDK UI -->
 <script src="{{ site.baseurl}}/assets/photoeditorsdk/js/PhotoEditorSDK.UI.DesktopUI.min.js"></script>
 <!-- <link rel="stylesheet" href="/photoeditorsdk/css/PhotoEditorSDK.UI.DesktopUI.min.css" /> -->