+block(documentation-picker)
  margin-top: 4px
  margin-bottom: 4px
  margin-left: 0px
  margin-right: 24px
  
  border: 1px solid #eee
  +element(item)
    padding-left: 12px
    padding-top: 6px
    padding-bottom: 6px
    margin: 0px
    border: 1px solid #eee
    clear: left
    > a
      @extend .regular-font
      cursor: pointer
      font-size: 18px
      color: #555558