+block(documentation-subnavigation)
  text-align: center
  +screen-min-small
    float: left
    margin-top: 0
    width: 200px
    text-align: left

  +element(section)
    margin-bottom: 24px

  +element(container)
    position: relative
    padding: 0px
    margin-right: 24px

  +element(list)
    display: block
    list-style: none
    padding: 0px
    text-transform: uppercase
    width: 100%
    +element(header)
      @extend .bold-font
      clear: left
      font-size: 18px
      line-height: 36px
      color: #555558

      > ul
        list-style: none

    +element(item)
      @extend .bold-font
      clear: left
      margin-right: auto  
      width: 100%
      +screen-min-small
        padding-left: 20px
      > a
        line-height: 36px
        font-size: 14px
        cursor: pointer
        color: #A7A7A8
        +flag(active)
          color: $primary-color
