

{% assign subpages = site.quickstarts | where: "category", "quickstart" | sort: "order" %}
{% assign quickstart_pages = subpages %}

<div class="documentation-subnavigation">
  <div class="documentation-subnavigation__container">
      {% include documentation/spacer.html %}
      <ul class="documentation-subnavigation__list">
        <li class="documentation-subnavigation__list__header">
          Quickstarts
          <ul>
            {% for p in quickstart_pages %}
              <li class="documentation-subnavigation__list__item">
                {% if p.url == page.url %}
                  <a class="is-active" href="{{site.baseurl}}{{p.url}}">{{p.menuitem}}</a>
                {% else %}
                  <a href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                {% endif %}
              </li>              
            {% endfor %}
          </ul>
        </li>
      </ul>
  </div> 
</div> 
