
{% assign platform = "html5" %}
{% assign version = "v3_6" %}

{% assign subpages = site.guides | where: "platform", platform | where: "version", version | sort: "order" %}

{% assign intropages = subpages | where: "category", "introduction" %}
{% assign feature_pages = subpages | where: "category", "feature" %}
{% assign ui_pages = subpages | where: "category", "ui" %}

{% assign resource_pages = subpages | where: "category", "resource" %}

<div class="documentation-subnavigation">
  <div class="documentation-subnavigation__container">
      {{base_url}}
      {% include documentation/picker.html %}
      {% include documentation/spacer.html %}
      <ul class="documentation-subnavigation__list">
        <il class="documentation-subnavigation__list__header">
          <a href="what">Introduction</a>
          <ul>
            {% for p in intropages %}
              {% if p.url != intropages.first.url %}
                <br>
              {% endif %}
              <il class="documentation-subnavigation__list__item">
                {% if p.url == page.url %}
                  <a class="is-active" href="{{p.url}}"> {{p.menuitem}} </a>
                {% else %}
                  <a href="{{p.url}}"> {{p.menuitem}} </a>
                {% endif %}
              </il>              
            {% endfor %}
          </ul>
        </il>
        
        <il class="documentation-subnavigation__list__header">
          <a href="what">Features</a>
          {% for p in feature_pages %}
            {% if p.url != feature_pages.first.url %}
              <br>
            {% endif %}
            <il class="documentation-subnavigation__list__item">
              {% if p.url == page.url %}
                <a class="is-active" href="{{p.url}}"> {{p.menuitem}} </a>
              {% else %}
                <a href="{{p.url}}"> {{p.menuitem}} </a>
              {% endif %}
            </il>   
          {% endfor %}
        </il>
        
        <il class="documentation-subnavigation__list__header">
          <a href="what">User-Interface </a>
           <ul>
            {% for p in ui_pages %}
            {% if p.url != ui_pages.first.url %}
            <br>
            {% endif %}
            <il class="documentation-subnavigation__list__item">
              {% if p.url == page.url %}
                <a class="is-active" href="{{p.url}}"> {{p.menuitem}} </a>
              {% else %}
                <a href="{{p.url}}"> {{p.menuitem}} </a>
              {% endif %}
            </il>   
            {% endfor %}
          </ul>
        </il>
        
        <il class="documentation-subnavigation__list__header">
          <a href="what">Resources</a>
          <ul>
            {% for p in resource_pages %}
            {% if p.url != resource_pages.first.url %}
            <br>
            {% endif %}
            <il class="documentation-subnavigation__list__item">
              {% if p.url == page.url %}
                <a class="is-active" href="{{p.url}}"> {{p.menuitem}} </a>
              {% else %}
                <a href="{{p.url}}"> {{p.menuitem}} </a>
              {% endif %}
            </il>   
            {% endfor %}
          </ul>
        </il>
      </ul>
  </div> 
</div> 