
{% assign platform = include.platform %}
{% assign version = include.version %}

{% assign subpages = site.guides | where: "platform", platform | where: "version", version | sort: "order" %}

{% assign intropages = subpages | where: "category", "introduction" %}
{% assign feature_pages = subpages | where: "category", "feature" %}
{% assign customization_pages = subpages | where: "category", "customization" %}
{% assign concept_pages = subpages | where: "category", "concept" %}
{% assign resource_pages = subpages | where: "category", "resource" %}

<div class="documentation-subnavigation">
  <div class="documentation-subnavigation__container">
      {% include documentation/search_box.html platform=platform version=version %}
      {% if platform and version %}
        {% include documentation/picker.html platform=platform version=version %}
        {% capture api_url %}{{site.baseurl}}/guides/{{platform}}/{{version}}/resources/apidocs{% endcapture %}
        {% include documentation/spacer.html %}
        <ul class="documentation-subnavigation__list">
          {% if intropages.size > 0 %}
            <li class="documentation-subnavigation__list__header">
              Introduction
              <ul>
                {% for p in intropages %}
                  <li class="documentation-subnavigation__list__item">
                    {% if p.url == page.url or (page.faq and p.url contains 'faq') %}
                      <a class="is-active" href="{{site.baseurl}}{{p.url}}">{{p.menuitem}}</a>
                    {% else %}
                      <a href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
          {% if feature_pages.size > 0 %}
            <li class="documentation-subnavigation__list__header">
              Features
              {% for p in feature_pages %}
                <li class="documentation-subnavigation__list__item">
                  {% if p.url == page.url %}
                    <a class="is-active" href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                  {% else %}
                    <a href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                  {% endif %}
                </li>
              {% endfor %}
            </li>
          {% endif %}
          {% if customization_pages.size > 0 %}
            <li class="documentation-subnavigation__list__header">
              Customization
              {% for p in customization_pages  %}
                <li class="documentation-subnavigation__list__item">
                  {% if p.url == page.url %}
                    <a class="is-active" href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                  {% else %}
                    <a href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                  {% endif %}
                </li>
              {% endfor %}
            </li>
          {% endif %}
          {% if concept_pages.size > 0 %}
            <li class="documentation-subnavigation__list__header">
              Concepts
               <ul>
                {% for p in concept_pages %}
                  <li class="documentation-subnavigation__list__item">
                    {% if p.url == page.url %}
                      <a class="is-active" href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                    {% else %}
                      <a href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
          {% if resource_pages.size > 0 %}
            <li class="documentation-subnavigation__list__header">
              Resources
              <ul>
                {% for p in resource_pages %}
                  <li class="documentation-subnavigation__list__item">
                    {% if p.url == page.url %}
                      <a class="is-active" href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                    {% else %}
                      <a href="{{site.baseurl}}{{p.url}}"> {{p.menuitem}} </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        </ul>
      {% endif %}
  </div>
</div>
