+block(documentation)
  padding-top: 120px
  padding-bottom: 60px
  background: $white-color


  +element(disclaimer)
    margin-bottom: 10px
    border: 1px solid $primary-color
    padding: 30px 40px

    h4
      margin-top: 0 !important
 