<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}
  <div class="main main--grey">
    {% include hero.html title="Documentation" %}
    {% include guide_selection.html %}
    <div class="documentation documentation--light-gray-background documentation__preview-blocks">
      <a href="https://www.photoeditorsdk.com/features">
        {% include preview_block.html title="Features" text="Get an overview about what is possible with the SDK" link="https://www.photoeditorsdk.com/features" link_title="Show Features" %}
      </a>
      <a href="/quickstarts">
        {% include preview_block.html class="preview-block--right" title="Quickstarts" text="Start using the SDK with your favorite Framework" link="/quickstarts" link_title="Show Quickstarts" %}
      </a>
    </div>
    {% include api_selection.html %}
    {% include customers.html %}
  </div>
  {% include footer.html %}
</body>

</html>

